---
# front matter
---
<html>
  <head>
    <title>MTG Cheatsheet</title>
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.png"|relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css"|relative_url }}">
  </head>
  <body>
    <h1>MTG Cheatsheet (Standard - Ikoria)</h1>
    {% for section in site.data.sections %}
      <div class="section">
        <h2 class="section-title">{{ section.title }}</h2>
        <div class="section-cards">
          {% for card in section.cards %}
            <a class="card">
              <img class="card-image" src="{{ card.image }}">
              <div class="card-cost">
                {% for mana in card.cost %}
                  {% if "gbuwr" contains mana %}
                    {% capture mana_img_src %}/assets/images/mana_{{ mana }}.png{% endcapture %}
                    <img class="mana symbol" src="{{ mana_img_src|relative_url }}">
                  {% else %}
                    <span class="mana colorless">{{ mana }}</span>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="card-name">{{ card.name }}</div>
              <div class="card-type">{{ card.type|capitalize }}</div>
              <div class="card-text">{{ card.text }}</div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </body>
</html>